
<div class="container">
  <div class="container-layout">
      <div class="container-title">
        <h1>Notification System</h1>
      </div>
      <div class="recent-notifications">
        <h2>Recent Notifications</h2>
        <hr/>
      </div>
      <div class="notification-list">
        <app-notification-layout title="Ranvin Wickramsinghe has been named as the best developer of the month"></app-notification-layout>
        <app-notification-layout title="Ranvin Wickramsinghe has been named as the best developer of the year"></app-notification-layout>
        <app-notification-layout title="Ranvin Wickramsinghe has been named as the best developer of the decade"></app-notification-layout>
      </div>
      <div class="send-notification">
        <div class="send-notification-layout">
          <input type="text" placeholder="Enter your notification title">
        </div>
        <div class="send-notification-button">
          <mat-icon style="color: #fff;font-size: 25px;">send</mat-icon>
        </div>
      </div>
  </div>
</div>



<router-outlet />
