
<div class="container">
  <div class="container-layout">
      <div class="container-title">
        <h1>Notification System</h1>
      </div>
      <div class="recent-notifications">
        <h2>Recent Notifications</h2>
        <hr/>
      </div>
      <div class="notification-list" *ngIf="messages">
        <div *ngFor="let message of messages">
          <app-notification-layout [title]="message.message"></app-notification-layout>
        </div>
      </div>
      <div class="send-notification">
        <div class="send-notification-layout">
          <input type="text" placeholder="Enter your notification title" (input)="onNotificationMessage($event)">
        </div>
        <div class="send-notification-button" (click)="sendNotification()">
          <mat-icon style="color: #fff;font-size: 25px;">send</mat-icon>
        </div>
      </div>
  </div>
</div>



<router-outlet />
